/*@import'style1.css';*/
body{
	margin: 0 auto;
	padding: 0;
	font-family: sans-serif;
	background-size: cover;
}
#container{
	margin: 0;
	padding: 0;
}
#main{
	width: 520px;
	height: 550px;
/*	background: #0005;*/
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-55%);
	box-sizing: border-box;
}
.iconcon{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: 30px;
	left: calc(50% - 50px);
}
/*.logoicon{
	width: 50%;
	height: 100px;
	position: absolute;
	top: 370px;
	left: calc(50% - 120px);
	text-align: center;
	border: 1px solid red;
}*/
h1{
	text-align: center;
	padding: 0 0 20px;
	color: #FFFF00;
}
#main p{
	margin: 0;
	padding: 0;	
	font-size: 30px;
}
#main .iconbar{
	margin: 0;
	padding: 0;	
	font-size: 50px;
}
#main input{
	margin-bottom: 20px;
	width: 370px;
}
#main input[type="text"], input[type="password"]{
	font-size: 17px;
	border: none;
	outline: none;
	background: transparent;
	border-bottom: 1px solid yellow;
	color: white;
	font-weight: bold;
}
#main .checkbox{
	color: #fff;
	font-size: 14px;
}
#main .checkbox input{
	margin: -35%;
	margin-bottom: 20px;
}
#main input[type="submit"]{
	border: none;
	outline: none;
	background: #fb2525;
	height: 40px;
	color: #fff;
	font-size: 18px;
	border-radius: 100px;
}
#main input[type="submit"]:hover{
	cursor: pointer;
	background:#DDDDDD;
	color: #000;
}
#main a{
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	color: #cccccc;
}
#main a:hover{
	color: #ffc107;
}
ul.social-agileinfo {
    text-align: center;	
}

ul.social-agileinfo li a i.fa {
	width:40px;
	height:40px;
	border:1px solid #fff;
	text-align:center;
	line-height:40px;
	color:#fff;
}
ul.social-agileinfo li a i.fa.fa-facebook:hover{
	background-color:#3b5998;
	color:#fff;
	border-color:#3b5998;
}
ul.social-agileinfo li a i.fa.fa-twitter:hover {
	background-color:#1da1f2;
	color:#fff;
	border-color:#1da1f2;
}
ul.social-agileinfo li a i.fa.fa-youtube:hover {
	background-color:#cd201f;
	color:#fff;
	border-color:#cd201f;
}
ul.social-agileinfo li a i.fa.fa-google-plus:hover {
	/*-- w3ls --*/
	background-color:#dd4b39;
	color:#fff;
	border-color:#dd4b39;
}
/*chạy*/
ul.social-agileinfo li a i.fa:hover {
	animation: spin1 2s linear infinite;
}
@keyframes spin1 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* */
/*#thanhtren{
	width: 100%;
	height: 1000px;
	background-image: none;
	background-size: cover;
}*/
.head{
	padding: 0;
	margin-top: 0;
}
.head nav{
	width: 100%;
	height: 30px;
	background-color: #000;
	position: relative;
}
.head nav div ul{
	display: inline-block;
	padding: 0;
	margin: 5px;
}
.head nav div ul li{
	padding-right: 5px;
	font-size: 14px;
	list-style-type: none;
	display: inline-block;
	text-align: top;
	transition: 0.8s all;
	color: #fff;	
}
.head nav div ul li:hover{
	color: blue;
}
.head nav div ul li select{
	width: 80px;
	background-color: #000;
	color: #fff;
}
.head nav div ul li select  option a{
	text-decoration: none;
	color: #fff;
	padding: 0;
}
.head nav div ul li select  option a:hover{
	color: blue;
}
.head nav div ul li a{
	text-decoration: none;
	color: #fff;
	padding: 0;
}
.head nav div ul li a:hover{
	color: #FFFF00;
}
.phanloai{
	width: 450px;
	float: left;
	text-align: center;
	margin-left: 50px;
}

.linkdangnhap_ky{
	width: 200px;
	float: right;
	text-align: left;
	margin: 0;
}
.navbar-inverse{
	width: 100%;
	height: 75px;
	font-weight: bold;
}
.navbar-nav{
	padding: 10px;
	margin-top: 5px;
}
.link ul li a:hover{
	color: red;
}
/*
.navbar{
	width: 100%;
	height: 70px;
	background-color: #0009;
	line-height: 70px;
	border: none;
	border-bottom: 2px solid red;
	position: fixed;
	position: sticky;
	top: 0;
	z-index: 999;
}*/
/*div .navbar{
	top: 0;
	background-color: yellow;
}*/
/*.container-fluid ul{
	float: right;
	margin-right: 150px;
}
.container-fluid ul li{
	display: inline-block;
	list-style-type: none;
	transition: all 1s;
}

.container-fluid ul li a{
	text-decoration: none;
	color: #fff;
	padding: 20px;
	margin: 0;
	font-size: 15px;
}
.container-fluid ul li a:hover{
	background: red;
}*/

.timkiem{
	display: inline-block;
	width: 100%;
	position: sticky;
	position: fixed;
	top:80px;
	z-index: 10;
}
.timkiem input{
	float: right;
	width: 50px;
	height: 50px;
	background: #fff;
	border: 1px solid red;
	color: red;
	margin-right : 10px;
	border-radius: 100px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8), 0 6px 20px 0 rgba(0,0,0,0.29);
}
.timkiem input[type=search]{
	float: right;
	font-size: 15px;
	width: 50px;
    padding-left: 20px;
    color: #000;
    cursor: pointer;
	background: #fff;
	border: 1px solid red;
	color: red;
	margin-right : 10px;
	padding-right: 30px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8), 0 6px 20px 0 rgba(0,0,0,0.29);
}
.timkiem span i{
	float: right;
	color: #330066;
	margin-top: 15px;
	margin-right: -45px;
	width: 30px;
	font-size: 20px;
}
.timkiem input[type=search]:hover {
    border: 1px solid blue;
}

.timkiem input[type=search]:focus {
    width: 300px;
    height: 35px;
    padding-left: 20px;
    color: #000;
    background-color: #fff;
    cursor: auto;
    padding-left: 35px;
    margin-top: 5px;
}
.timkiem .buttongh{
	float: right;
	font-size: 30px;
	width: 50px;
	height: 50px;
	background: #fff;
	border: 1px solid red;
	color: red;
	margin-right : 10px;
	border-radius: 100px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8), 0 6px 20px 0 rgba(0,0,0,0.29);
}
.timkiem .buttongh i,.timkiem1 .buttongh i,.timkiem2 .buttongh i{
	color: #330066;
}
.timkiem .buttongh:hover{
	border: 1px solid blue;
}
.timkiem1{
	display: inline-block;
	width: 100%;	
	position: sticky;
	position: fixed;
	top:590px;
	z-index: 999;
}
.timkiem1 .buttongh{
	float: right;
	font-size: 30px;
	width: 50px;
	height: 50px;
	background: #fff;
	border: 1px solid red;
	color: red;
	margin-right : 10px;
	border-radius: 100px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8), 0 6px 20px 0 rgba(0,0,0,0.29);
}
.timkiem1 .buttongh:hover{
	border: 1px solid blue;
}
.timkiem2{
	display: block;
	margin-top: 0px;
	width: 100%;	
	position: sticky;
	position: fixed;
	top:650px;
	z-index: 999;
	opacity: 0;
}
.timkiem2{
	opacity: 1;
}
.timkiem2 .buttongh{
	float: right;
	font-size: 30px;
	width: 50px;
	height: 50px;
	background: #fff;
	border: 1px solid red;
	color: red;
	margin-right : 10px;
	border-radius: 100px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8), 0 6px 20px 0 rgba(0,0,0,0.29);
}
.timkiem2 .buttongh:hover{
	border: 1px solid blue;
}
.uudai1{
	width: 400px;
	color: red;
	margin-top: -150px;
	position: absolute;
	background-color:#0001;
	padding: 20px;
	font-weight: bold;
	font-size: 16px;
	margin-left: 300px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5), 0 4px 8px 0 rgba(0,0,0,0.5);
/*	background:rgba(153,50,204,0.1);*/

}

.uudai2{
	margin-top: -150px;
	margin-left: 750px;
}
.uudai3{
	margin-top: -80px;
	margin-left: 300px;
	margin-bottom: 100px;
}
.uudai4{
	margin-top: -80px;
	margin-left: 750px;
}
.uudai1:hover{
	animation: spin 0.8s ;
	color: #000;
}
@keyframes spin {
  0% { transform: scale(1);}
  100% { transform: scale(1.1); }
}
/*..*/
.sanphamhot{
	width:100%; 
	height: 100vh;
	position:relative; 
	margin:50px auto; 
	margin-top: 100px;
	padding:0;
	/*border: 1px solid yellow;*/
	background: none;
	display: inline-block;
	background-size: cover;

}
.sanphamhot h1{
		position: absolute;
		text-decoration: none;
		color: #0002;
		font-size: 60px;
		font-weight: bold;
		padding-top: 10px;
		padding-left: 570px;
	}
.sanphamhot h2{
		position: absolute;
		text-decoration: none;
		color: blue;
		font-size: 25px;
		font-weight: bold;
		padding-top: 35px;
		padding-left: 600px;
}


.imgBx {
	margin: 30px 30px 0 0;
	width: 815px;
	height: 500px;
	border: 1px solid #fff;
	flex-shrink: 0;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.5), 0 4px 8px 0 rgba(0,0,0,0.5);
}
.imgBx img{
	width: 100%;
	height: 460px;
	border-radius: 5px 5px 0 0;
}
.sanphamhot .n1 i{
	z-index: 999;
	font-size: 50px;
	margin: -260px 0 0 -10px;
	position: absolute;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	opacity: 0;
	transition: 0.3s all;
}
.sanphamhot .n1 i:hover{
	opacity: 1;
}
.sanphamhot .n2 i{
	float: right;
	margin: -260px 0 0 1292px;
	z-index: 999;
	font-size: 50px;
	position: absolute;
	box-sizing: border-box;
	color:  #fff;
	opacity: 1;
	transition: 0.3s all;
}
.sanphamhot .n2 i:hover{
	opacity: 1;	
}
.sanphamhot label a i u{
	margin-top: 50px;
	padding-right: 150px;
	float: right;
	font-size: 16px;
	color: #ff0000;
	margin-left: 1250px;
}
.imgBx .tensp{
	margin:2px;
	width: 90%;
	height: 30px;
	background: none;
	margin-top:10px;
	border-radius: 25px;
	font-size: 14px;
	font-weight: bold;
	/*border-color: #000077 ;*/
	color: #000;
	box-shadow:none;
	}
.but{
	margin-right: 10px;
	float: right;
	width: 31%;
	height: 35px;
	border-radius: 50px;
	border: none;
	background-color: red;
	margin-top: 250px;
}
.but a{
	font-size: 13px;
	text-decoration: none;
	color: #fff;
}
.but a:hover{
	color: #000;
}
.imgBx .muasp:hover{
	opacity: 1;
	border-radius: 5px;
	background-color: #0009;
	-webkit-transform: translateZ(0);
	-webkit-transform: translate3d(0,0,0);
}
.imgBx img:hover{
	opacity: 0;
}
.imgBx .giasp{
	margin:2px;
	padding: 0 0 0 10px;
	width: 50%;
	height: 20px;
	background: none;
	border-radius: 25px;
	font-size: 14px;
/*	border-color: #000077;*/
	color: red;
	font-weight: bold;
	box-shadow:none;

}
.imgBx .muasp{
	margin:0;
	padding: 0;
	width: 100%;
	height: 650px;
	margin-top:-525px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	transition: all 1s ;
  opacity: 0;
  text-align: bottom;
  box-shadow:none;
  z-index: 1000;
}
.imgBx .muasp a{
	  text-decoration: none;
	}
/*thanh cuối*/
#thanhcuoi{
	padding: 0;
	margin: 0;
	background-image: url(../img/thanhcuoi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 350px;
	position: sticky;
  top: 100%;
}
#thanhcuoi .email{
	position: relative;
	margin-left: 50px;
	margin-top: 10px;
	height: 20px;
	width: 300px;
	color: #fff;
	font-size: 16px;
	padding: 2px;
}
#thanhcuoi .thanhEmail{
	position: relative;
	padding: 0;
	float: right;
	margin-right: 500px;
	color: #fff;
	font-size: 16px;
	width: 700px;
	margin-top: 20px;
}
#thanhcuoi .thanhEmail input[type="text"]{
	width: 400px;
	height: 30px;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 5px;
}
/*#thanhcuoi .thanhEmail input[type="text"]:hover{
	background-color: #fff;
}*/
#thanhcuoi .thanhEmail input[type="submit"]{
	margin-left: 0;
	width: 100px;
	height: 35px;
	background-color: red;
	color: #000;
	border-radius: 5px;
	font-weight: bold;
}
#thanhcuoi .thanhEmail input[type="submit"]:hover{
	background-color: #ee0000;
	cursor: pointer;
}
#thanhcuoi .review{
	width: 100%;
	height: 50px;
	background-color: none;
	
}
.review ul {
	display: inline-block;
	padding-left: 50px;
	margin: 0;
}
.review ul li {
	margin-right: 210px;
	border-bottom: 2px solid red;
	padding-right: 5px;
	line-height: 50px;
	text-align: center;
	display: inline-block;
	list-style-type: none;
	color: #fff;
	font-size: 15px;
}
#thanhcuoi .cuoicung{
	width: 100%;
	height: 200px;
	background-color: none;
}
#thanhcuoi .cuoicung .hh1{
	margin:10px 0 0 30px;
	width: 200px;
	text-align: left;
	display: inline-block;
	color: #fff9;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

#thanhcuoi .cuoicung .hh2{
	margin:10px 0 0 110px;
	width: 200px;
	text-align: left;
	display: inline-block;
	color: #fff9;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
#thanhcuoi .cuoicung .hh3{
	margin:10px 0 0 90px;
	width: 200px;
	text-align: left;
	display: inline-block;
}
#thanhcuoi .cuoicung .hh3 a{
	color: #fff9;
	text-decoration: none;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
#thanhcuoi .cuoicung .hh3 a:hover{
	color: red;
}
#thanhcuoi .cuoicung .hh4{
	margin:10px 0 0 30px;
	width: 200px;
	text-align: left;
	display: inline-block;
	color: #fff9;
	font-family: Arial, Helvetica, sans-serif;
}
#thanhcuoi .cuoicung .hh4 ul.social-agileinfo li{
	display: inline-block;
	list-style-type: none;
	font-size: 11px;

}
#thanhcuoi .cuoicung .hh4 ul.social-agileinfo li a i.fa{
	width:30px;
	height:30px;
	border:1px solid #fff;
	text-align:center;
	line-height:30px;
	color:#fff;
}

#thanhcuoi .bando{
	float: right;
	width: 300px;
	height: 300px;
	background: none;
	color: #fff;
	margin: -300px 20px 0 0;	
	z-index: 9999;
	text-align: right;
}
#thanhcuoi .bando h4,i{
	text-align: left;
	font-size: 15px;
	color: #fff;
}
#thanhcuoi .bando iframe{
	border: none;
	overflow-x: hidden;
}
/*swiper-slider*/
 .swiper-container {
      width: 100%;
	height: 570px;
      margin: 20px auto;

    }

    .imgBx .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

    }





    /*style1*/
    #phutung{
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 50px;
	background-color:none;
	background-size:cover;	
	background-repeat: no-repeat;
	background-position: center;
	/*flex-shrink: 0;
*/	position: relative;
	/*overflow-y: scroll;*/
	border: none;
	text-align: center;
	/*border: 2px solid green;*/
	margin-bottom: 80px;
	z-index: 1;

}
.divphutung{
	background-color: #fff;
	width: 300px;
	height: 350px;
	color: #fff;
	margin: 0 0 50px 10px;
	flex-shrink: 0;
	display: inline-block;
	border-radius: 5px;
	text-align: left;
	color: #000;
	font-weight: bold;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}
.divphutung img{
	width: 99%;
	height: 75%;
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
}
.tie{
	width: 100%;
	text-align: center;
}
.hhh1 h1{
	position: absolute;
	text-decoration: none;
	color: blue;
	font-size: 30px;
	font-weight: bold;
	margin-top: 40px;
	padding-left: 605px;
	text-transform: uppercase;
	text-shadow: 5px 2px 4px grey;
	/*color: #000;*/
}
.tie h2{
	color: #000;
	text-transform: uppercase;
	font-size: 25px;
	margin-top: 100px;
	margin-bottom: 50px;
	padding-left: 0px;
	text-shadow: 5px 2px 4px grey;
}
#phutung label a i u{
	margin-top: -85px;
	float: right;
	font-size: 16px;
	color: #ff0000;
	margin-left: 1200px;
}
/*#phutung label div p{

}*/
#phutung div a{
	color: #000;
	text-decoration: none;
}
#phutung div:hover{
	transform: scale(1.05);
}
#phutung div a:hover{
	color: red;
}
.tenTH {
	text-transform: uppercase;
	position: absolute;
		text-decoration: none;
		color: blue;
		font-size: 25px;
		font-weight: bold;
		margin-top: 10px;
		padding-left: 550px;
		text-shadow: 5px 3px 4px grey;
}

.bar .with{
	width: 600px;
	height: 350px;
	background: #fff;

	text-align: top;
	 word-break: break-word;
	 color: #000;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
	 border: 1px solid #000;
}
.bar .with img{
	width: 300px;
	height: 95%;
	float: left;
	margin:10px; 
	border: 1px solid #000;
}
.bar .with h3{
	font-size: 16px; 
	font-weight: bold;
	color: #000;
}
.bar .with .muasp{
	height: 50px;
	width: 300px;
/*	border: 1px solid yellow;*/
	padding: 0;
	text-align: top;
	margin: -50px 0 0 280px;
	opacity: 1;
}
.bar .with .muasp .but{
	padding: 0;
	margin: 2px;
	background-color: blue;
}
/*phan loại*/
.menu{
  display: none;
}
.menu ul{
	list-style-type: none;
}
.navbar ul li:hover .menu {
  display: inline-flex;
  position: absolute;
  background:#fff;
  margin-left: -300px;
  margin-right: 300px;
  width: 700px;
  z-index: 1000;
  text-transform: none;
}
.navbar ul li:hover .menu li{
  padding:5px;
  margin: 0;
  width: 180px;
  text-align: left;
  color: #000;
 /* border-bottom: 1px solid #000;*/
}
.navbar ul li:hover .menu li a{
  font-weight: normal;
  text-decoration: none;
  color: #000;
}
.navbar ul li:hover .menu li a:hover{
	border: none;
  color: red; 
}
/*chi tiết sản phẩm*/
.lab{
	margin-right: 120px;
	height: 50px;
	width: 300px;
	background-color: red;
	color: #fff;
	float: right;
	border: none;
	border-radius: 15px 50px 30px;
	text-align: center;
	line-height: 50px;
}
#contain{
	width: 100%;
	height: 150vh;
	padding: 0;
	font-family: sans-serif;
	display: inline-block;
	background-color: none;
	position: relative;
}
.form1{
	position: relative;
	float: left;
	width: 600px;
	height: 450px;
	margin:20px;
	margin-left: 100px;
	padding: 20px;
	border: 1px solid #000;
	background-color: #fff;
}
.form2{
	position: relative;
	float: right;
	margin-right: 100px;
	margin-top:-1118px;
	width: 700px;
	height: 450px;
	background-color: #fff;
}
.form2 h1{
	font-size: 20px;
	padding: 5px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}
.form2 div .muasp{
	height: 50px;
	width: 500px;
/*	border: 1px solid yellow;*/
	padding: 0;
	text-align: top;
	margin: 0 0 0 190px;

}
.form2 div .muasp .but{
	padding: 0;
	margin: 2px;
} 
.form2 div .muasp .but a{
	text-decoration: none;
	font-weight: bold;
}
.mota{
	font-size: 16px;
	padding: 5px;
	color: #000;
}

.swiper-slide iframe{	
	width: 100%;
	height: 100%;
}
.solieu{
	position: relative;
	display: inline-flex;
	background-color: #fff;
	float: right;
	width: 1320px;
	height: 400px;
	border: 1px solid #000;
	margin-top: 70px;
}

.solieu li{
  padding:0;
  margin: 0;
  width: 330px;
  text-align: left;
  color: #000;
  list-style-type: none;
  padding: 10px;
/*  border-bottom: 1px solid #000;*/
}

.dd img{
	width: 150px; 
	height: 150px;
	margin: 20px 0 0 140px;
	border-radius: 50%;
	border: 5px solid #fff;
}
.dd h3{
	margin-left: 130px;
	color: #fff;
	font-weight: bold;
}
.dd p{
	color: #fff;
	text-align: center;
}

/*đánh giá*/
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/*reset css*/
div,label{margin:0;padding:0;}
body{margin:20px;}
h1{font-size:1.5em;margin:10px;}
/****** Style Star Rating Widget *****/
#rating{border:none;float:left;}
#rating>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating>label:before{margin:5px;font-size:15px;font-family:FontAwesome;display:inline-block;content:"\f005"; color: #FFB90F;}/*1 ngôi sao*/


/*bình luận*/
.nutbut button{
	background-color: red;
	border: none;
	box-shadow: 4px 0 6px 0 rgba(0,0,0,0.5);
	margin-bottom: 30px;
	font-weight: bold;
	border-radius:5px;
	height: 50px;
	width: 300px;
	color: #fff;
/*	border-radius: 15px 50px 30px;*/
	text-align: center;
	line-height: 50px;
}
.comment{
	width: 630px;
	height: 500px;
	margin-top: 30px;
	display: none;	
}
.bl1{
	margin-left: 50px;
	
}
.bl1 img{
	width: 60px;
	height: 60px;
	border-radius: 50px;
	float: right;
	margin-bottom: 40px;
	margin-right: 10px;
}
.bl1 .khungBL{
	float: right;
}
.bl1 .khungBL label{
	width: 500px;
	font-weight: normal;
	
}
.bl1 .khungBL label h4{
	font-weight: bold;
}
/*.bl2 .khungBL label{
	width: 100px;
}*/
.sanphamtuongtu{
	width: 100%;
	height: 550px;
}
.sanphamtuongtu .tie h2{
	color: blue;
	font-weight: bold;
}
/*table*/
.otable{
	height: 100px;
}
.otable .o1{
	padding-top: 30px;
	color: #000;

}
.imgs{
	width: 120px;
	height: 80px;
	margin-left: 50px;
	margin-right: -70px;
}
.oo{
	font-size: 20px;
	font-family: 'Copperplate';
	color: #000;
	font-weight: normal;
}
.o3{
	font-size: 14px;
	font-weight: bold;
}
.otable1{
	height: 30px;
}
